<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluded Emotes</title>
    <link rel="stylesheet" href="../styles/exStyle.css">
</head>
<body>
    <div id="background">
        <img src="../../images/Icon.png" alt="???">
    </div>
    <header>
        <h2>Excluded Emotes</h2>
    </header>
    <div class="table-container">
        <table>
            <tbody id="emote-list">
                <!-- Excluded emotes will be populated here -->
            </tbody>
        </table>
    </div>

    <script src="../scripts/excluded.js"></script>
</body>
</html>